---
import { Icon } from "astro-icon/components";
---

<div class="flex justify-center mt-8 sm:mt-16">
    <div class="bg-oldworld-gray3 w-recommend mx-5 py-8 px-8 rounded-lg ">
        <div class="flex flex-row items-center">
            <Icon name="flash" class="md:size-6 size-5" />
        <h1 class="font-semibold ml-3 text-lg sm:text-2xl">
            URL Shortener Blazingly Fast
        </h1>
        </div>
        <div class="mt-3 text-oldworld-fg text-pretty text-sm sm:text-base">
            <p>This URL shortener is powered by Rust for the backend and Astro for the frontend, delivering an optimized,
                high-performance solution for converting long, cumbersome URLs into short, manageable links. Combining the 
                speed and security of Rust with the lightweight, user-friendly interface of Astro, it ensures a seamless and reliable experience.
            </p>
            <h2 class="text-base sm:text-lg font-semibold mt-3">Why should I use a URL shortener?</h2>
            <ul class="list-disc pl-5">
                <li><b>Easier Sharing:</b> Short URLs are easier to share and remember, especially in messages, emails, or social media.</li>
                <li><b>Trackable Links:</b> Shortened URLs can provide tracking data, like how many times a link was clicked.</li>
                <li><b>Cleaner Look:</b> A short, neat URL looks more professional and less cluttered.</li>
            </ul>
            <h2 class="text-base sm:text-lg font-semibold mt-3">Advantages of Using Rust and Astro</h2>
            <ul class="list-disc pl-5">
                <li><b>Speed:</b> Rust is known for its high performance, processing requests quickly so URLs are shortened in an instant.</li>
                <li><b>Security:</b> Rust’s strong memory safety features make it highly secure, minimizing the risk of common errors.</li>
                <li><b>Lightweight Frontend:</b> Astro creates a fast, minimal frontend, ensuring quick page loads and a smooth user experience.</li>
            </ul>
        </div>
    </div>
</div>
