<main class="flex justify-center mx-5 xl:mx-0">
    <div class="w-full md:w-recommend text-center mt-10 sm:mt-[6.5rem]">
        <h1
            class="text-oldworld-blue text-4xl sm:text-6xl md:text-7xl lg:text-6xl font-black"
        >
            Simplify Your Links
        </h1>
        <h2
            class="text-base sm:text-2xl md:text-2xl lg:text-2xl text-oldworld-subtext1 mt-2 font-semibold text-pretty"
        >
            Make Long URLs Short and Memorable in Seconds
        </h2>
        <form class="mt-7 mx-auto sm:mt-10 grid grid-cols-12 sm:w-[800px] w-full gap-4" id="formUrl">
            <input
                class="bg-oldworld-gray3 px-4 py-3 outline-none text-oldworld-fg text-lg sm:text-lg rounded-lg border-2 transition-colors duration-100 border-solid focus:border-oldworld-blue border-oldworld-gray1 col-span-12 md:col-span-8 lg:col-span-9"
                name="text"
                placeholder="Enter your long URL..."
                type="url"
                required
            />
            <button
                class="px-3 py-3 bg-oldworld-blue font-bold rounded-lg text-oldworld-bg text-lg hover:scale-[102%] hover:bg-oldworld-bright_blue transition col-span-12 md:col-span-4 lg:col-span-3"
            >
                Generate new URL
            </button>
        </form>

        <div class="flex justify-center xl:mx-0">
            <div
                id="shortUrlResult"
                class="text-oldworld-subtext1 px-3 md:px-10 w-full md:w-fit bg-oldworld-gray3 rounded-lg py-3 mt-7 hidden"
            >
                <h1 class="text-base sm:text-lg font-medium">Your short URL is:</h1>
                <a
                    id="shortUrlLink"
                    href=""
                    rel="noreferrer"
                    target="_blank"
                    role="link"
                    class="text-oldworld-blue font-medium italic hover:underline text-base sm:text-lg"
                >
https://sho.up.railway.app/VX
                </a>
            </div>
            <div
                id="shortUrlError"
                class="text-oldworld-subtext1 px-3 md:px-20 w-full md:w-fit bg-oldworld-gray3 rounded-lg py-3 mt-7 hidden"
            >
                <p
                    class="text-base sm:text-lg font-medium text-oldworld-red"
                    id="shortUrlErrorMessage"
                >
                </p>
            </div>
        </div>

        <script>
            const isProd = import.meta.env.PROD;

            const api_url = isProd
                ? "https://sho.up.railway.app/"
                : "http://localhost:3000/";

            document
                .getElementById("formUrl")
                .addEventListener("submit", (e) => handleSubmit(e));

            const handleSubmit = async (event) => {
                event.preventDefault();
                const formData = new FormData(event.target);
                const original_url = formData.get("text");
                const response = await fetch(api_url + "url/create", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ original_url }),
                });

                const data = await response.json();

                if (data.status) {
                    const linkElement = document.getElementById("shortUrlLink");
                    if (
                        linkElement &&
                        linkElement instanceof HTMLAnchorElement
                    ) {
                        linkElement.href = api_url + data.data.encoded_id;
                        linkElement.textContent =
                            api_url + data.data.encoded_id;
                    }

                    const resultContainer =
                        document.getElementById("shortUrlResult");
                    resultContainer?.classList.remove("hidden");
                } else {
                    const errorMessage = document.getElementById(
                        "shortUrlErrorMessage",
                    );
                    errorMessage.textContent = data.message;

                    const errorContainer =
                        document.getElementById("shortUrlError");
                    errorContainer.classList.remove("hidden");

                    setTimeout(() => {
                        errorContainer.classList.add("hidden");
                    }, 5000);
                }
            };
        </script>
    </div>
</main>
