---
import { Icon } from "astro-icon/components";
---

<nav class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto">
    <div
        class="w-recommend flex h-14 flex-row justify-between items-center mx-7 my-auto"
    >
        <h1 class="font-semibold text-xl md:text-xl">Shordly</h1>
        <a
            href="https://github.com/dgox16/shordly"
            rel="noreferrer"
            target="_blank"
            role="link"
            class="hover:scale-105 hover:brightness-110 transition"
        >
            <Icon name="github" class="md:size-6 size-6" />
        </a>
    </div>
</nav>
